Repository lsendel/sass, changes with the owners that .github/CODEOWNERS names for each.
All owners: @team-leads, @team-devops, @team-security, @team-backend, @team-frontend, @team-docs, @team-legal

.github/CODEOWNERS:

# Global owners
* @team-leads

# CI/CD and DevOps
/.github/ @team-devops @team-security
/k8s/ @team-devops @team-security
/scripts/ @team-devops @team-security
Dockerfile @team-devops @team-security
docker-compose* @team-devops @team-security

# Backend code
/src/ @team-backend @team-security
build.gradle @team-backend @team-devops
gradle.properties @team-backend @team-devops

# Frontend code
/frontend/ @team-frontend @team-security

# Security sensitive files
/src/main/java/com/payment/ @team-security @team-backend
/src/main/java/com/auth/ @team-security @team-backend

# Configuration files
application*.yml @team-backend @team-security @team-devops
application*.properties @team-backend @team-security @team-devops

# Documentation
*.md @team-docs @team-leads
docs/ @team-docs @team-leads

# Legal and compliance
LICENSE @team-legal
SECURITY.md @team-security @team-legal

fix(docker): remove non-existent settings.gradle from Dockerfile
  backend/Dockerfile
Owners: @team-devops, @team-security

fix(ci): use lowercase repository name for GHCR
  .github/workflows/ci-main.yml
Owners: @team-devops, @team-security

fix(ci): correct secrets syntax in security-scans workflow
  .github/workflows/security-scans.yml
Owners: @team-devops, @team-security

fix(ci): resolve database performance test failures
  .github/workflows/performance-monitoring.yml
Owners: @team-devops, @team-security

fix(ci): resolve all GitHub Actions workflow failures
  .github/workflows/performance-monitoring.yml
  frontend/src/test/api/organizationApi.test.ts
  frontend/src/types/typeGuards.ts
Owners: @team-devops, @team-security, @team-frontend

fix(lint): resolve ESLint errors to allow CI to pass
  frontend/eslint.config.js
  frontend/src/components/layouts/AccessibleDashboardLayout.tsx
  frontend/src/components/layouts/DashboardLayout.tsx
  frontend/src/types/typeGuards.ts
Owners: @team-frontend, @team-security

fix(lint): add no-unnecessary-type-assertion to warnings
  frontend/eslint.config.js
Owners: @team-frontend, @team-security

fix(cd): skip deployment when AWS credentials are not configured
  .github/workflows/cd-deploy.yml
Owners: @team-devops, @team-security

fix(cd): add proper credential checks for deployment jobs
  .github/workflows/cd-deploy.yml
Owners: @team-devops, @team-security

fix(cd): use continue-on-error for AWS credential configuration
  .github/workflows/cd-deploy.yml
Owners: @team-devops, @team-security

fix(tests): resolve 5 test failures and security-scans syntax
  .github/workflows/security-scans.yml
  frontend/src/components/ui/button.tsx
  frontend/src/test/api/authApi.test.ts
  frontend/src/test/api/organizationApi.test.ts
Owners: @team-devops, @team-security, @team-frontend

fix(security): resolve all CodeQL security alerts and CI issues
  .github/workflows/performance-monitoring.yml
  .github/workflows/performance.yml
  backend/src/test/java/com/platform/config/ContractTestSecurityConfig.java
  backend/src/test/java/com/platform/config/TestSecurityConfig.java
  backend/src/test/java/com/platform/config/TestSecurityConfiguration.java
  docs/docs/backend-api-javadoc/search-page.js
  tools/agents/documentation.py
Owners: @team-devops, @team-security, @team-leads, @team-docs

fix(ci): update Node.js version to 20 for Vite 7 compatibility
  .github/workflows/performance-monitoring.yml
Owners: @team-devops, @team-security

fix(ci): remove glob patterns from sparse-checkout in security-scans
  .github/workflows/security-scans.yml
Owners: @team-devops, @team-security

fix(ci): fix SBOM artifact name and skip Slack alert if token missing
  .github/workflows/security-scans.yml
Owners: @team-devops, @team-security

fix(ci): add database credentials for bootRun in performance monitoring
  .github/workflows/performance-monitoring.yml
Owners: @team-devops, @team-security

fix(ci): skip E2E performance tests that require backend API
  .github/workflows/performance-monitoring.yml
Owners: @team-devops, @team-security

fix(ci): make performance workflow resilient to missing config
  .github/workflows/performance.yml
Owners: @team-devops, @team-security

fix(ci): skip k6 action if load tests file doesn't exist
  .github/workflows/performance.yml
Owners: @team-devops, @team-security

fix(ci): resolve OWASP dependency check timeout and SARIF upload failures
  .github/workflows/security-pipeline.yml
Owners: @team-devops, @team-security

refactor(checkstyle): suppress low-value checks and fix unused imports
  backend/config/checkstyle/checkstyle.xml
  backend/src/main/java/com/platform/audit/api/AuditControllerHelper.java
  backend/src/main/java/com/platform/audit/api/AuditLogViewController.java
Owners: @team-leads

refactor(test): fix unused imports and star imports in test files
  backend/src/test/java/com/platform/AbstractIntegrationTest.java
  backend/src/test/java/com/platform/architecture/ArchitectureTest.java
  backend/src/test/java/com/platform/audit/api/SimpleAuditApiTest.java
  backend/src/test/java/com/platform/auth/internal/SecurityConfigIntegrationTest.java
  backend/src/test/java/com/platform/config/ContractTestConfiguration.java
  backend/src/test/java/com/platform/fixtures/TestDataValidationTest.java
Owners: @team-leads

feat: implement comprehensive security and performance improvements
  backend/build.gradle
  backend/src/main/java/com/platform/auth/internal/SecurityConfig.java
  backend/src/main/java/com/platform/shared/dto/ErrorResponse.java
  backend/src/main/java/com/platform/shared/dto/ValidationErrorResponse.java
  backend/src/main/java/com/platform/shared/exceptions/BusinessException.java
  backend/src/main/java/com/platform/shared/exceptions/GlobalExceptionHandler.java
  backend/src/main/java/com/platform/shared/exceptions/ResourceNotFoundException.java
  backend/src/main/java/com/platform/shared/ratelimit/RateLimitConfig.java
  backend/src/main/java/com/platform/shared/ratelimit/RateLimitResult.java
  backend/src/main/java/com/platform/shared/ratelimit/RateLimitRule.java
  backend/src/main/java/com/platform/shared/ratelimit/RateLimitingFilter.java
  backend/src/test/java/com/platform/security/PenetrationTest.java
  backend/src/test/java/com/platform/security/SecurityPipelineTest.java
  backend/src/test/java/com/platform/security/SecurityTestSuite.java
  frontend/scripts/analyze-bundle.js
  frontend/src/App.tsx
  frontend/src/components/ui/EnhancedErrorBoundary.tsx
  frontend/src/pages/dashboard/DashboardPage.tsx
  frontend/src/utils/correlationId.ts
  frontend/src/utils/lazy.ts
  frontend/src/utils/logger.ts
  frontend/vite.config.ts
Owners: @team-backend, @team-devops, @team-leads, @team-frontend, @team-security

fix: resolve quality gate violations and improve code standards
  backend/src/main/java/com/platform/auth/api/AuthController.java
  backend/src/main/java/com/platform/user/Organization.java
  backend/src/main/java/com/platform/user/UserProfile.java
  backend/src/main/java/com/platform/user/api/OrganizationController.java
  backend/src/main/java/com/platform/user/api/UserProfileController.java
  backend/src/test/java/com/platform/AbstractIntegrationTest.java
  backend/src/test/java/com/platform/architecture/ModulithTest.java
Owners: @team-leads

feat(security): complete comprehensive security review
  SECURITY_REVIEW.md
Owners: @team-docs, @team-leads

feat(security): implement comprehensive security improvements
  SECURITY_REVIEW.md
  backend/build.gradle
  backend/src/main/java/com/platform/auth/internal/RateLimitingFilter.java
  backend/src/main/java/com/platform/auth/internal/SecurityConfig.java
  backend/src/main/java/com/platform/config/RateLimitingConfig.java
Owners: @team-docs, @team-leads, @team-backend, @team-devops

feat(security): add additional modern security headers
  backend/src/main/java/com/platform/auth/internal/SecurityConfig.java
Owners: @team-leads

refactor: implement comprehensive clean code improvements
  CLEAN_CODE_IMPROVEMENTS_IMPLEMENTATION_REPORT.md
  backend/src/main/java/com/platform/audit/api/AuditLogExportController.java
  backend/src/main/java/com/platform/audit/api/AuditLogSearchController.java
  backend/src/main/java/com/platform/audit/api/dto/AuditLogFilterRequest.java
  backend/src/main/java/com/platform/audit/api/dto/PaginationRequest.java
  backend/src/main/java/com/platform/audit/api/dto/SortRequest.java
  backend/src/main/java/com/platform/audit/internal/AuditLogViewService.java
  backend/src/main/java/com/platform/shared/validation/ValidationUtils.java
  backend/src/test/java/com/platform/BaseIntegrationTestV2.java
  backend/src/test/java/com/platform/audit/api/AuditLogViewerIntegrationTest.java
  backend/src/test/java/com/platform/audit/api/AuditLogViewerIntegrationTestV2.java
  backend/src/test/java/com/platform/config/IntegrationTestBaseConfiguration.java
  backend/src/test/java/com/platform/shared/validation/ValidationUtilsTest.java
Owners: @team-docs, @team-leads

fix: resolve security vulnerabilities in GitHub workflows
  .github/workflows/backend-ci.yml
  .github/workflows/cd-deploy.yml
  .github/workflows/ci-main.yml
  .github/workflows/minimal-permissions.yml
  .github/workflows/release.yml
  .github/workflows/security-pipeline.yml
  .github/workflows/security-scans.yml
Owners: @team-devops, @team-security

fix: Complete ACIS validation report and quality gates implementation
  scripts/acis/auto-fix/auto-fix-engine.sh
  scripts/acis/metrics/metrics-collector.sh
  scripts/acis/metrics/report-generator.sh
  scripts/acis/quality-gates/quality-gates-validator.sh
  scripts/acis/rollback/rollback-manager.sh
  scripts/acis/utils/logger.sh
Owners: @team-devops, @team-security

chore: Add ACIS runtime files to .gitignore
  .gitignore
Owners: @team-leads

chore: Clean up remaining temporary files and configuration
  .archive/docs-2025-10-07/integration-test-analysis-report.md
  .archive/docs-2025-10-07/integration-test-improvements-summary.md
  .archive/docs-2025-10-07/test.md
  .archive/docs-2025-10-07/ui_plan.md
  .claude/settings.local.json
  .claude/workflows/deployment-pipeline.yml
  .claude/workflows/security-review.yml
  .github/ENVIRONMENTS.md
  .github/QUICK-START.md
  .github/copilot-instructions.md
  .github/dependabot.yml
  .github/issue_template.md
  .github/pull_request_template.md
  docs/.markdown-link-check.json
  docs/.markdownlint.json
  docs/.textlintrc.json
  docs/README.md
  frontend/auth-flow-test-results.json
  frontend/tests/e2e/auth-flow-debug.spec.ts
  frontend/tsconfig.json
  frontend/typedoc.json
  tools/README.md
Owners: @team-docs, @team-leads, @team-devops, @team-security, @team-frontend

Add Semgrep CI
  .github/workflows/semgrep.yml
Owners: @team-devops, @team-security
