Repository lsendel/sass, changes with the owners that .github/CODEOWNERS names for each.
All owners: @team-leads, @team-devops, @team-security, @team-backend, @team-frontend, @team-docs, @team-legal

.github/CODEOWNERS:

# Global owners
* @team-leads

# CI/CD and DevOps
/.github/ @team-devops @team-security
/k8s/ @team-devops @team-security
/scripts/ @team-devops @team-security
Dockerfile @team-devops @team-security
docker-compose* @team-devops @team-security

# Backend code
/src/ @team-backend @team-security
build.gradle @team-backend @team-devops
gradle.properties @team-backend @team-devops

# Frontend code
/frontend/ @team-frontend @team-security

# Security sensitive files
/src/main/java/com/payment/ @team-security @team-backend
/src/main/java/com/auth/ @team-security @team-backend

# Configuration files
application*.yml @team-backend @team-security @team-devops
application*.properties @team-backend @team-security @team-devops

# Documentation
*.md @team-docs @team-leads
docs/ @team-docs @team-leads

# Legal and compliance
LICENSE @team-legal
SECURITY.md @team-security @team-legal

feat(security): implement comprehensive security observability dashboard
  SECURITY_IMPLEMENTATION_SUMMARY.md
  backend/src/main/java/com/platform/shared/security/SecurityObservabilityDashboard.java
  frontend/SECURITY_ANALYSIS_DashboardBuilder.md
Owners: @team-docs, @team-leads

feat(rbac): enhance PermissionChecker with constitutional compliance
  frontend/src/components/auth/rbac/PermissionChecker.tsx
  frontend/src/components/auth/rbac/__tests__/PermissionChecker.test.tsx
Owners: @team-frontend, @team-security

feat(rbac): complete PermissionChecker audit integration
  frontend/src/components/auth/rbac/PermissionChecker.tsx
Owners: @team-frontend, @team-security

feat(rbac): finalize PermissionChecker audit and compliance features
  frontend/src/components/auth/rbac/PermissionChecker.tsx
  package-lock.json
Owners: @team-frontend, @team-security, @team-leads

feat(platform): complete frontend documentation and architecture analysis
  specs/013-develop-an-in/plan.md
  specs/013-develop-an-in/research.md
Owners: @team-docs, @team-leads

chore: update local settings
  .claude/settings.local.json
Owners: @team-leads

test: Trigger workflow validation
  test.md
Owners: @team-docs, @team-leads

test: Trigger frontend CI workflow
  .github/workflows/frontend-ci.yml
Owners: @team-devops, @team-security

ci: Add timeout limits to workflow jobs
  .github/workflows/backend-ci.yml
  .github/workflows/cd-deploy.yml
  .github/workflows/ci-main.yml
  .github/workflows/frontend-api-tests.yml
  .github/workflows/frontend-ci.yml
  .github/workflows/oidc-auth.yml
  .github/workflows/security-scans.yml
Owners: @team-devops, @team-security

ci: Add timeout limits to all remaining workflow jobs
  .github/workflows/cd-deploy.yml
  .github/workflows/matrix-testing.yml
  .github/workflows/release.yml
  .github/workflows/security-scans.yml
Owners: @team-devops, @team-security

fix: Update frontend CI workflow script names, add retry logic and update actions
  .github/workflows/frontend-ci.yml
Owners: @team-devops, @team-security

improve: Update backend CI workflow with better caching, retry logic, and error reporting
  .github/workflows/backend-ci.yml
Owners: @team-devops, @team-security

improve: Update security workflows with better error handling and newer action versions
  .github/workflows/oidc-auth.yml
  .github/workflows/security-scans.yml
Owners: @team-devops, @team-security

improve: Update deployment and release workflows with better validation and security
  .github/workflows/cd-deploy.yml
  .github/workflows/release.yml
Owners: @team-devops, @team-security

fix: Resolve backend API test failures and update GitHub workflows
  backend/src/test/java/com/platform/audit/api/SimpleAuditApiTest.java
  backend/src/test/java/com/platform/audit/api/TempAuditControllerTest.java
  backend/src/test/java/com/platform/config/TestBeanConfiguration.java
Owners: @team-leads

fix: Enable Spring Security in backend API tests with proper configuration
  backend/src/test/java/com/platform/audit/api/SimpleAuditApiTest.java
  backend/src/test/java/com/platform/audit/api/TempAuditControllerTest.java
  backend/src/test/java/com/platform/config/TestBeanConfiguration.java
Owners: @team-leads

test: Improve test configuration and clean up test infrastructure
  backend/src/test/java/com/platform/audit/api/AuditExportContractTest.java
  backend/src/test/java/com/platform/audit/api/AuditExportDownloadContractTest.java
  backend/src/test/java/com/platform/audit/api/AuditExportStatusContractTest.java
  backend/src/test/java/com/platform/audit/api/AuditLogDetailContractTest.java
  backend/src/test/java/com/platform/audit/api/TestConfig.java
  backend/src/test/resources/application-test-slice.yml
  backend/src/test/resources/application-test.yml
Owners: @team-leads, @team-backend, @team-security, @team-devops

fix: Resolve workflow and Java code quality issues
  .github/workflows/backend-ci.yml
  .github/workflows/cd-deploy.yml
  .github/workflows/frontend-api-tests.yml
  .github/workflows/security-scans.yml
  backend/src/main/java/com/platform/audit/api/AuditLogViewController.java
  backend/src/test/java/com/platform/audit/api/AuditExportContractTest.java
  backend/src/test/java/com/platform/audit/api/AuditExportStatusContractTest.java
  backend/src/test/java/com/platform/audit/api/AuditLogDetailContractTest.java
  backend/src/test/java/com/platform/config/AuditTestConfiguration.java
Owners: @team-devops, @team-security, @team-leads

feat: Phase 2 - Resolve Critical Technical Debt
  PHASE2_COMPLETE.md
  QUICK-REFERENCE.md
  README-SETUP.md
  TECHNICAL_DEBT_ANALYSIS.md
  backend/src/main/java/com/platform/audit/api/AuditLogViewController.java
  backend/src/main/java/com/platform/audit/internal/AuditLogPermissionService.java
  backend/src/main/java/com/platform/auth/api/dto/LoginRequest.java
  backend/src/main/java/com/platform/auth/internal/AuthenticationService.java
  backend/src/main/java/com/platform/auth/internal/OpaqueTokenService.java
  backend/src/main/java/com/platform/shared/security/SecurityUtils.java
  backend/src/main/java/com/platform/shared/security/UserPrincipal.java
  backend/src/test/java/com/platform/architecture/ArchitectureTest.java
  backend/src/test/java/com/platform/architecture/ModulithTest.java
  backend/src/test/java/com/platform/audit/api/AuditLogViewerIntegrationTest.java
  backend/src/test/java/com/platform/config/AuditTestConfiguration.java
  fix_indentation.sh
Owners: @team-docs, @team-leads

security: Phase 3 - Security & Compliance Improvements
  .claude/settings.local.json
  HANDOFF-CHECKLIST.md
  SECURITY_ANALYSIS.md
  backend/src/main/java/com/platform/auth/internal/AuthenticationService.java
  backend/src/test/java/com/platform/audit/api/AuditLogViewerIntegrationTest.java
  backend/src/test/java/com/platform/config/AuditTestConfiguration.java
  backend/src/test/java/com/platform/config/BaseTestConfiguration.java
  backend/src/test/java/com/platform/config/ContractTestConfiguration.java
  backend/src/test/java/com/platform/config/TestBeanConfiguration.java
  backend/src/test/java/com/platform/config/TestSecurityConfig.java
  backend/src/test/java/com/platform/config/WithMockUserPrincipal.java
  backend/src/test/java/com/platform/config/WithMockUserPrincipalSecurityContextFactory.java
  frontend/package-lock.json
  frontend/src/hooks/useFieldValidationState.ts
  frontend/src/hooks/useFormDraft.ts
Owners: @team-leads, @team-docs, @team-frontend, @team-security

docs: Add Phase 3 completion summary
  PHASE3_COMPLETE.md
Owners: @team-docs, @team-leads

fix: Resolve GitHub Actions workflow failures and add deployment scripts
  .github/workflows/frontend-ci.yml
  .github/workflows/security-scans.yml
  frontend/package.json
  scripts/monitor-deployment.sh
  scripts/pre-deployment-checks.sh
  scripts/smoke-tests.sh
  scripts/verify-deployment.sh
Owners: @team-devops, @team-security, @team-frontend

fix: Resolve Java compilation errors in audit module
  backend/src/main/java/com/platform/audit/api/AuditControllerHelper.java
  backend/src/main/java/com/platform/audit/api/AuditLogViewController.java
  backend/src/main/java/com/platform/audit/api/dto/ValidatedRequest.java
  backend/src/main/java/com/platform/audit/internal/AuditLogExportService.java
  backend/src/main/java/com/platform/audit/internal/AuditLogPermissionService.java
  backend/src/main/java/com/platform/audit/internal/AuditRequestValidator.java
Owners: @team-leads

fix: Remove all mocks and achieve clean compilation (0 errors, 0 warnings)
  backend/src/test/java/com/platform/audit/api/AuditExportDownloadContractTest.java
  backend/src/test/java/com/platform/audit/api/AuditExportStatusContractTest.java
  backend/src/test/java/com/platform/audit/api/SimpleAuditApiTest.java
  backend/src/test/java/com/platform/config/AuditTestConfiguration.java
  backend/src/test/java/com/platform/config/TestBeanConfiguration.java
Owners: @team-leads

docs: Add VS Code Java Language Server fix and comprehensive guides
  BUILD_SNAPSHOT.md
  VSCODE_GUIDE.md
  scripts/fix-vscode-java.sh
  scripts/verify-build-status.sh
Owners: @team-docs, @team-leads, @team-devops, @team-security

feat: Add ACIS (Automated Continuous Improvement System) with Claude AI peer review
  .claude/settings.local.json
  .env.example
  .github/workflows/acis-automated.yml
  ACIS_CLAUDE_AI_INTEGRATION.md
  ACIS_COMPLETE_SYSTEM_SUMMARY.md
  ACIS_FINAL_IMPLEMENTATION.md
  ACIS_GIT_HOOKS_INTEGRATION.md
  ACIS_HOW_TO_USE.md
  ACIS_IMPLEMENTATION_COMPLETE.md
  AUTOMATED_CONTINUOUS_IMPROVEMENT_SYSTEM.md
  Makefile
  SNAPSHOT_2025-10-02.md
  scripts/acis/acis-main.sh
  scripts/acis/claude-ai/claude-reviewer.sh
  scripts/acis/claude-ai/prompts/improvement-review.txt
  scripts/acis/config/acis-config.yml
  scripts/acis/git-hooks/install-hooks.sh
  scripts/acis/git-hooks/pre-commit
  scripts/acis/git-hooks/pre-push
  scripts/acis/git-hooks/smart-detector.sh
  scripts/acis/utils/config-reader.sh
  scripts/acis/utils/git-utils.sh
  scripts/acis/utils/logger.sh
  scripts/acis/utils/platform-utils.sh
Owners: @team-leads, @team-devops, @team-security, @team-docs

fix: Make smart-detector.sh compatible with bash 3.x (macOS)
  scripts/acis/git-hooks/smart-detector.sh
Owners: @team-devops, @team-security

feat: Add Slack integration with workflow fixes and comprehensive documentation
  .github/workflows/cd-deploy.yml
  .github/workflows/performance.yml
  docs/integrations/README.md
  docs/integrations/github-secrets-management.md
  docs/integrations/slack-setup.md
  scripts/setup-slack-integration.sh
Owners: @team-devops, @team-security, @team-docs, @team-leads

fix: Correct GitHub Actions workflow Slack notification conditionals
  .github/workflows/cd-deploy.yml
  .github/workflows/performance.yml
Owners: @team-devops, @team-security

chore: Add missing frontend dependencies
  frontend/package-lock.json
  frontend/package.json
Owners: @team-frontend, @team-security

fix(frontend): Add error handling utilities and fix LoadingSpinner imports
  frontend/scripts/fix-rtk-errors.sh
  frontend/scripts/fix-typescript-errors.sh
  frontend/src/components/task/KanbanBoard.tsx
  frontend/src/components/task/TaskDetailModal.tsx
  frontend/src/lib/api/errorHandling.ts
  frontend/src/pages/projects/ProjectPage.tsx
Owners: @team-frontend, @team-security

fix(frontend): Fix MSW request body type handling in API tests
  frontend/src/test/api/organizationApi.test.ts
  frontend/src/test/api/projectManagementApi.test.ts
Owners: @team-frontend, @team-security

fix(frontend): Resolve all TypeScript compilation errors (50 → 0)
  frontend/src/components/layouts/AccessibleDashboardLayout.tsx
  frontend/src/components/layouts/DashboardLayout.tsx
  frontend/src/components/project/CreateProjectModal.tsx
  frontend/src/components/project/ProjectList.tsx
  frontend/src/components/task/CreateTaskModal.tsx
  frontend/src/components/task/KanbanBoard.tsx
  frontend/src/components/task/TaskCard.tsx
  frontend/src/components/task/TaskDetailModal.tsx
  frontend/src/components/ui/Badge.tsx
  frontend/src/components/ui/Button.test.tsx
  frontend/src/components/ui/TextArea.tsx
  frontend/src/components/ui/input.tsx
  frontend/src/hooks/useAccessibility.tsx
  frontend/src/lib/api/errorHandling.ts
  frontend/src/pages/projects/ProjectPage.tsx
  frontend/src/pages/settings/SettingsPage.tsx
  frontend/src/services/serviceWorker.ts
  frontend/src/services/websocketService.ts
  frontend/src/store/api/projectManagementApi.ts
  frontend/src/test/api/auditApi.test.ts
  frontend/src/test/api/authApi.test.ts
  frontend/src/test/api/organizationApi.test.ts
  frontend/src/test/api/projectManagementApi.test.ts
  frontend/src/test/api/subscriptionApi.test.ts
  frontend/src/test/api/userApi.test.ts
  frontend/src/test/reporters/evidenceReporter.ts
  frontend/src/test/utils/testStore.ts
  frontend/src/types/project.ts
Owners: @team-frontend, @team-security

test: Achieve 100% test pass rate for backend integration tests
  backend/src/test/java/com/platform/audit/api/AuditLogViewerIntegrationTest.java
  backend/src/test/java/com/platform/audit/api/AuditLogViewerTestContainerTest.java
  backend/src/test/java/com/platform/auth/internal/AuthenticationServiceIntegrationTest.java
  backend/src/test/java/com/platform/auth/internal/OpaqueTokenAuthenticationFilterIntegrationTest.java
  backend/src/test/java/com/platform/auth/internal/SecurityConfigIntegrationTest.java
  backend/src/test/java/com/platform/integration/DatabaseConnectivityTest.java
  backend/src/test/resources/application-integration-test.yml
Owners: @team-leads, @team-backend, @team-security, @team-devops

chore(deps): Update Python dev dependencies to latest secure versions
  requirements-dev.txt
Owners: @team-leads

fix: Replace deprecated @MockBean with @MockitoBean
  backend/src/test/java/com/platform/config/ContractTestConfiguration.java
Owners: @team-leads

fix(eslint): run auto-fix for formatting issues
  frontend/ESLINT-FIX-IMMEDIATE-ACTIONS.md
  frontend/ESLINT-FIX-PATTERNS.md
  frontend/ESLINT-FIX-PLAN.md
  frontend/ESLINT-FIX-README.md
  frontend/scripts/track-eslint-progress.sh
  frontend/src/components/task/KanbanBoard.tsx
  frontend/src/components/ui/Badge.tsx
  frontend/src/hooks/useFormDraft.ts
  frontend/src/hooks/useRealTimeCollaboration.ts
  frontend/src/test/utils/testStore.ts
Owners: @team-docs, @team-leads, @team-frontend, @team-security

feat(types): add comprehensive type guard utilities
  frontend/src/types/typeGuards.ts
Owners: @team-frontend, @team-security

docs: add comprehensive ESLint fix session summary
  frontend/SESSION-SUMMARY.md
Owners: @team-docs, @team-leads

fix(tests): update test configurations and type guards
  .claude/settings.local.json
  .github/workflows/ci-main.yml
  frontend/src/test/api/authApi.test.ts
  frontend/src/test/api/organizationApi.test.ts
  frontend/src/test/api/projectManagementApi.test.ts
  frontend/src/types/typeGuards.ts
  frontend/tests/e2e/auth-flow-debug.spec.ts
  frontend/tests/e2e/utils/global-setup.ts
  frontend/tests/e2e/utils/global-teardown.ts
  frontend/viewport-test.js
Owners: @team-leads, @team-devops, @team-security, @team-frontend
